force-app/main/default/flows/Cancel_Order_Screens.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Order_Item_Verification_SEt</name>
        <label>Order Item Verification SEt</label>
        <locationX>22</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>OrderItemOk</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status</name>
        <label>Set Status</label>
        <locationX>957</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>Get_Order.ccrz__OrderStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Training_Event_OK_Set</name>
        <label>Training Event OK Set</label>
        <locationX>14</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>TrainingEventOK</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Training_Events</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Able_to_be_Cancelled</name>
        <label>Able to be Cancelled</label>
        <locationX>359</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Can_Not_be_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Proper_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colccOrderItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderItemOk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TrainingEventOK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Cancel</targetReference>
            </connector>
            <label>In Proper State</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ok_to_Continue</name>
        <label>Ok to Continue</label>
        <locationX>803</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Not_Done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreed_to_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AreYouSure.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status</targetReference>
            </connector>
            <label>Agreed to Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Items_Can_be_Cancelled</name>
        <label>Order Items Can be Cancelled</label>
        <locationX>17</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>Order_Item_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Not_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrderItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOrderItem.ILT_Class__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item_Verification_SEt</targetReference>
            </connector>
            <label>Status Not OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Training_Event_OK</name>
        <label>Training Event OK</label>
        <locationX>2</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Training_Event_OK_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Cancelable_State</name>
            <conditionLogic>(1 or 2 or 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>sTrainingEvent.Scheduling_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contacting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sTrainingEvent.Scheduling_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-Discussion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sTrainingEvent.Scheduling_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sTrainingEvent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Training_Events</targetReference>
            </connector>
            <label>Is Not Cancelable State</label>
        </rules>
    </decisions>
    <interviewLabel>Cancel Order Screens {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Order Screens</label>
    <loops>
        <name>Check_Training_Events</name>
        <label>Check Training Events</label>
        <locationX>374</locationX>
        <locationY>772</locationY>
        <assignNextValueToReference>sTrainingEvent</assignNextValueToReference>
        <collectionReference>colTrainingEvent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Training_Event_OK</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Able_to_be_Cancelled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Order_Item_Loop</name>
        <label>Order Item Loop</label>
        <locationX>185</locationX>
        <locationY>384</locationY>
        <assignNextValueToReference>sOrderItem</assignNextValueToReference>
        <collectionReference>colccOrderItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Items_Can_be_Cancelled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Training_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>184</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ccrz__E_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>184</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Item_Loop</targetReference>
        </connector>
        <filters>
            <field>ccrz__OrderItemStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Order Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderItemStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colccOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>ILT_Class_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Event</name>
        <label>Get Training Event</label>
        <locationX>184</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Training_Events</targetReference>
        </connector>
        <filters>
            <field>CC_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </filters>
        <object>Training_Events__c</object>
        <outputReference>colTrainingEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Scheduling_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Header</name>
        <label>Update Order Header</label>
        <locationX>1077</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Update_Order_Items</targetReference>
        </connector>
        <inputReference>Get_Order</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Items</name>
        <label>Update Order Items</label>
        <locationX>1080</locationX>
        <locationY>233</locationY>
        <connector>
            <targetReference>Update_Training_Events</targetReference>
        </connector>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ccrz__OrderItemStatus__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_OrderItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Training_Events</name>
        <label>Update Training Events</label>
        <locationX>1225</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>Cancel_Order_Successful</targetReference>
        </connector>
        <filters>
            <field>CC_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scheduling_Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Training_Events__c</object>
    </recordUpdates>
    <screens>
        <name>Can_Not_be_Cancelled</name>
        <label>Can Not be Cancelled</label>
        <locationX>487</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoMessage</name>
            <fieldText>&lt;p&gt;Sorry this order may not be cancelled through this method ...&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There is a order item in a invalid state or the Order is &lt;b&gt;not &lt;/b&gt;Open or Submitted&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancel_Order_Successful</name>
        <label>Cancel Order Successful</label>
        <locationX>1392</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MsgSuccess</name>
            <fieldText>&lt;p&gt;Order has been cancelled&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_for_Cancel</name>
        <label>Check for Cancel</label>
        <locationX>657</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ok_to_Continue</targetReference>
        </connector>
        <fields>
            <name>AreYouSure</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Are You Sure?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>VerificationCheck</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <elementReference>VerificationCheck</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Done</name>
        <label>Not Done</label>
        <locationX>812</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MsgCancel</name>
            <fieldText>&lt;p&gt;Order has not been Cancelled&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colccOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>colOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>colTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>frmOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemOk</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>TrainingEventOK</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VerificationCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
