force-app/main/default/flows/Customer_Support_Fix_Tools.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Update_Achievements_Selection</name>
        <label>Set Update Achievements Selection</label>
        <locationX>365</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>cUpdateAchievements</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Process_Selection</name>
        <label>Process Selection</label>
        <locationX>357</locationX>
        <locationY>57</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Achievement_Assignments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Achievement_Assignments_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Update Achievement Assignments</label>
        </rules>
        <rules>
            <name>Validation_Report_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Run_Validation_Report</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Validation Report Check</label>
        </rules>
    </decisions>
    <interviewLabel>Customer Support - Fix Tools {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Support - Fix Tools</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Achievement_Assignments</name>
        <label>Get Achievement Assignments</label>
        <locationX>806</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>redwing__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmContactID</elementReference>
            </value>
        </filters>
        <object>redwing__Achievement_Assignment__c</object>
        <outputReference>colAchievementAssignments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Account__c</queriedFields>
        <queriedFields>redwing__Contact__c</queriedFields>
        <queriedFields>redwing__Status__c</queriedFields>
        <queriedFields>redwing__Achievement__c</queriedFields>
        <queriedFields>Achievement_Type__c</queriedFields>
        <queriedFields>redwing__User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>358</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Achievement_Assignment_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Achievement_Assignment_Records</name>
        <label>Update Achievement Assignment Records</label>
        <locationX>360</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Set_Update_Achievements_Selection</targetReference>
        </connector>
        <filters>
            <field>redwing__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>redwing__User__c</field>
            <value>
                <elementReference>Get_Contact_Record.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>redwing__Achievement_Assignment__c</object>
    </recordUpdates>
    <screens>
        <name>Menu_Options</name>
        <label>Menu Options</label>
        <locationX>187</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Process_Selection</targetReference>
        </connector>
        <fields>
            <name>Run_Validation_Report</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Run Validation Report</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Update_Achievement_Assignments_User</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Update Achievement Assignments User</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Updates all achievements assignments associated with the contact to the contacts current user. This is userful if the User was deactivated.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Menu_Options</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colAchievementAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__Achievement_Assignment__c</objectType>
    </variables>
    <variables>
        <description>Update the Achievement Assignments to have the Contact and User aligned</description>
        <name>cUpdateAchievements</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>frmContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Update the Achievement Assignment with the Contacts User</description>
        <name>tUpdateAchievementsUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
