force-app/main/default/flows/Full_Service_Minimum_Quantity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>1286</locationX>
        <locationY>50</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <actionCalls>
        <name>Min_Qty_Already_Exists</name>
        <label>Min Qty Already Exists</label>
        <locationX>304</locationX>
        <locationY>560</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Set_Greatest_Quantity</name>
        <label>Set Greatest Quantity</label>
        <locationX>948</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>outOrderItem.ccrz__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fGreatestQty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Meets_Minimum</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Instructor_Ratio</name>
        <label>Set Instructor Ratio</label>
        <locationX>540</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>vInstructorQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Number_of_Instructors__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vInstCmpMinQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sCompositeProduct.Minimum_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vInstCmpRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sCompositeProduct.Student_Ratio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Min_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Student_Ratio</name>
        <label>Set Student Ratio</label>
        <locationX>991</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>outOrderItem.Unit_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.Unit_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOrderItem.TS_LOC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.TS_LOC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOrderItem.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.ILT_Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOrderItem.Payment_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.Payment_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOrderItem.ccrz__AbsoluteDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.ccrz__AbsoluteDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOrderItem.ccrz__OrderItemStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.ccrz__OrderItemStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOrderItem.ccrz__Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.ccrz__Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOrderItem.ccrz__Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.ccrz__Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOrderItem.ccrz__PercentDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.ccrz__PercentDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOrderItem.ccrz__OriginalItemPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.ccrz__OriginalItemPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOrderItem.ccrz__UnitOfMeasure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.ccrz__UnitOfMeasure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOrderItem.ccrz__StoreId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.ccrz__StoreId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOrderItem.ccrz__ProductType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.ccrz__ProductType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStudentQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spOrderItem.ccrz__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStudentMinQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sCompositeProduct.Minimum_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Min_Values</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>rtLookupProductName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MINSTUDENT</stringValue>
        </value>
    </constants>
    <decisions>
        <name>FoundFulfillment</name>
        <label>FoundFulfillment</label>
        <locationX>1293</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sFulfillmentItem.Fulfillment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fulfillment_Item</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meets_Minimum</name>
        <label>Meets Minimum</label>
        <locationX>1087</locationX>
        <locationY>56</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Min_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fGreatestQty</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_New_Order_Item</targetReference>
            </connector>
            <label>Add Min Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Min_Quantity_Previously_Set</name>
        <label>Min Quantity Previously Set</label>
        <locationX>289</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Min_Qty_Already_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Min_Balance_Does_not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sMinItemCheck</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ILT_Class</targetReference>
            </connector>
            <label>Min Balance Does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Fee</name>
        <label>Type of Fee</label>
        <locationX>777</locationX>
        <locationY>511</locationY>
        <defaultConnector>
            <targetReference>Find_Min_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Student_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>spOrderItem.ccrz__UnitOfMeasure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Student</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCompositeProduct.ccrz__Component__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>spOrderItem.ccrz__Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Student_Ratio</targetReference>
            </connector>
            <label>Is Student Fee</label>
        </rules>
        <rules>
            <name>Class_Ratio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCompositeProduct.ccrz__Component__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>spOrderItem.ccrz__Product__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>spOrderItem.ccrz__UnitOfMeasure__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Student</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Instructor_Ratio</targetReference>
            </connector>
            <label>Class Ratio</label>
        </rules>
    </decisions>
    <description>Updated Instructor Calc added Fulfillment Item Creation - DE2607 Fixed incorrect quantity</description>
    <formulas>
        <name>fGreatestQty</name>
        <dataType>Number</dataType>
        <expression>IF({!vInstructorQty} = {!vInstCmpMinQty},{!fStudentDifQty},{!fMinInstBillQty})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fMinInstBillQty</name>
        <dataType>Number</dataType>
        <expression>({!vInstructorQty} - 1) * {!vInstCmpRatio} +1 - {!vStudentQty}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fMinInstructorCP</name>
        <dataType>Number</dataType>
        <expression>{!vInstCmpMinQty} * {!vInstCmpRatio}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fStudentDifQty</name>
        <dataType>Number</dataType>
        <expression>IF({!vStudentMinQty} - {!vStudentQty} &gt; 0,
{!vStudentMinQty} - {!vStudentQty} ,
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fSubAmount</name>
        <dataType>Currency</dataType>
        <expression>{!fGreatestQty} * {!outOrderItem.ccrz__Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Full Service Minimum Quantity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Full Service Minimum Quantity</label>
    <loops>
        <name>Find_Min_Values</name>
        <label>Find Min Values</label>
        <locationX>783</locationX>
        <locationY>287</locationY>
        <assignNextValueToReference>sCompositeProduct</assignNextValueToReference>
        <collectionReference>colComposite</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Type_of_Fee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Minor_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Minor_Items</name>
        <label>Loop through Minor Items</label>
        <locationX>780</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>spOrderItem</assignNextValueToReference>
        <collectionReference>colMinOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Min_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Greatest_Quantity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_New_Order_Item</name>
        <label>Add New Order Item</label>
        <locationX>1093</locationX>
        <locationY>201</locationY>
        <assignRecordIdToReference>vOrderItem</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Fulfillment</targetReference>
        </connector>
        <inputAssignments>
            <field>ILT_Class__c</field>
            <value>
                <elementReference>outOrderItem.ILT_Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_Type__c</field>
            <value>
                <stringValue>FEE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Category__c</field>
            <value>
                <elementReference>outOrderItem.Payment_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TS_LOC__c</field>
            <value>
                <elementReference>outOrderItem.TS_LOC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Code__c</field>
            <value>
                <elementReference>outOrderItem.Unit_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__AbsoluteDiscount__c</field>
            <value>
                <elementReference>outOrderItem.ccrz__AbsoluteDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Category__c</field>
            <value>
                <elementReference>sProduct.CC_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ExtSKU__c</field>
            <value>
                <elementReference>sProduct.ccrz__SKU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ItemStatus__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderItemStatus__c</field>
            <value>
                <elementReference>outOrderItem.ccrz__OrderItemStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderLineType__c</field>
            <value>
                <stringValue>Minor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Order__c</field>
            <value>
                <elementReference>outOrderItem.ccrz__Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalItemPrice__c</field>
            <value>
                <elementReference>outOrderItem.ccrz__OriginalItemPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalQuantity__c</field>
            <value>
                <elementReference>fGreatestQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ParentOrderItem__c</field>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PercentDiscount__c</field>
            <value>
                <elementReference>outOrderItem.ccrz__PercentDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>outOrderItem.ccrz__Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PricingType__c</field>
            <value>
                <stringValue>external</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ProductType__c</field>
            <value>
                <elementReference>outOrderItem.ccrz__ProductType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Quantity__c</field>
            <value>
                <elementReference>fGreatestQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StoreId__c</field>
            <value>
                <elementReference>outOrderItem.ccrz__StoreId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__SubAmount__c</field>
            <value>
                <elementReference>fSubAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__UnitOfMeasure__c</field>
            <value>
                <elementReference>outOrderItem.ccrz__UnitOfMeasure__c</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_OrderItem__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Fulfillment_Item</name>
        <label>Create Fulfillment Item</label>
        <locationX>1300</locationX>
        <locationY>570</locationY>
        <inputAssignments>
            <field>CC_Product__c</field>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fulfillment__c</field>
            <value>
                <elementReference>sFulfillmentItem.Fulfillment__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ILT_Class__c</field>
            <value>
                <elementReference>outOrderItem.ILT_Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Item__c</field>
            <value>
                <elementReference>vOrderItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>outOrderItem.ccrz__Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Category__c</field>
            <value>
                <elementReference>sProduct.CC_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>fGreatestQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKU__c</field>
            <value>
                <elementReference>sProduct.ccrz__SKU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </inputAssignments>
        <object>Fulfillment_Item__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_if_Previously_Processed</name>
        <label>Check if Previously Processed</label>
        <locationX>295</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Min_Quantity_Previously_Set</targetReference>
        </connector>
        <filters>
            <field>ccrz__ParentOrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sMinItemCheck</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Composite_Item</name>
        <label>Get Composite Item</label>
        <locationX>599</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Minor_Items</targetReference>
        </connector>
        <filters>
            <field>ccrz__Composite__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_CompositeProduct__c</object>
        <outputReference>colComposite</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Component__c</queriedFields>
        <queriedFields>ccrz__CompositeProductId__c</queriedFields>
        <queriedFields>Minimum_Quantity__c</queriedFields>
        <queriedFields>Student_Ratio__c</queriedFields>
        <queriedFields>ccrz__Composite__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment</name>
        <label>Get Fulfillment</label>
        <locationX>1094</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundFulfillment</targetReference>
        </connector>
        <filters>
            <field>Order_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderItemID</elementReference>
            </value>
        </filters>
        <object>Fulfillment_Item__c</object>
        <outputReference>sFulfillmentItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Fulfillment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ILT_Class</name>
        <label>Get ILT Class</label>
        <locationX>440</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.ILT_Class__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>redwing__ILT_Class__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Skedulo_Job_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>442</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Minor_Order_Items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ILT_Class.Skedulo_Job_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sked__Job__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_Instructors__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Minor_Order_Items</name>
        <label>Get Minor Order Items</label>
        <locationX>441</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Composite_Item</targetReference>
        </connector>
        <filters>
            <field>ccrz__OrderLineType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Minor</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__ParentOrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderItemID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colMinOrderItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Adjustment_Types__c</queriedFields>
        <queriedFields>ccrz__AbsoluteDiscount__c</queriedFields>
        <queriedFields>ccrz__AdjustmentAmount__c</queriedFields>
        <queriedFields>ccrz__Coupon__c</queriedFields>
        <queriedFields>ccrz__ExtSKU__c</queriedFields>
        <queriedFields>ccrz__ItemStatus__c</queriedFields>
        <queriedFields>ccrz__ItemTotal__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderItemGroup__c</queriedFields>
        <queriedFields>ccrz__OrderItemId__c</queriedFields>
        <queriedFields>ccrz__OrderLineType__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ccrz__OriginalQuantity__c</queriedFields>
        <queriedFields>ccrz__OriginalItemPrice__c</queriedFields>
        <queriedFields>ccrz__ParentOrderItem__c</queriedFields>
        <queriedFields>ccrz__ParentProduct__c</queriedFields>
        <queriedFields>ccrz__PercentDiscount__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__PricingModifierTypes__c</queriedFields>
        <queriedFields>ccrz__PricingType__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
        <queriedFields>ccrz__ProductType__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__StoreId__c</queriedFields>
        <queriedFields>ccrz__SubAmount__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>Error_Message__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>Inventory_Type__c</queriedFields>
        <queriedFields>Payment_Category__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>TS_LOC__c</queriedFields>
        <queriedFields>Unit_Code__c</queriedFields>
        <sortField>ccrz__Product_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item</name>
        <label>Get Order Item</label>
        <locationX>168</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOrderItemID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__ItemTotal__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderItemStatus__c</queriedFields>
        <queriedFields>ccrz__AbsoluteDiscount__c</queriedFields>
        <queriedFields>ccrz__AdjustmentAmount__c</queriedFields>
        <queriedFields>Adjustment_Types__c</queriedFields>
        <queriedFields>ccrz__ExtSKU__c</queriedFields>
        <queriedFields>ccrz__ExtName__c</queriedFields>
        <queriedFields>ccrz__OrderLineType__c</queriedFields>
        <queriedFields>ccrz__OriginalQuantity__c</queriedFields>
        <queriedFields>ccrz__OriginalItemPrice__c</queriedFields>
        <queriedFields>ccrz__ParentOrderItem__c</queriedFields>
        <queriedFields>ccrz__ParentProduct__c</queriedFields>
        <queriedFields>ccrz__PercentDiscount__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__PricingType__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
        <queriedFields>ccrz__ProductType__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__StoreId__c</queriedFields>
        <queriedFields>ccrz__SubAmount__c</queriedFields>
        <queriedFields>ccrz__ItemStatus__c</queriedFields>
        <queriedFields>Error_Message__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>Explanation__c</queriedFields>
        <queriedFields>Inventory_Type__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Unit_Code__c</queriedFields>
        <queriedFields>TS_LOC__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>Payment_Category__c</queriedFields>
        <queriedFields>ccrz__OrderItemId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>297</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Previously_Processed</targetReference>
        </connector>
        <filters>
            <field>ccrz__ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rtLookupProductName</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>sProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__SKU__c</queriedFields>
        <queriedFields>CC_Category__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colComposite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_CompositeProduct__c</objectType>
    </variables>
    <variables>
        <name>colMinOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>frmOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>frmOrderItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sCompositeProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_CompositeProduct__c</objectType>
    </variables>
    <variables>
        <name>sFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>sMinItemCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>spOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>vInstCmpMinQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vInstCmpRatio</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vInstructorQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vOrderItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStudentMinQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vStudentQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
