force-app/main/default/flows/Manage_Vouchers_on_Instructor_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>322</locationX>
        <locationY>487</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Add_Voucher_to_Collection</name>
        <label>Add Voucher to Collection</label>
        <locationX>1026</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>collVoucher</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVoucher</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Vouchers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Number_of_Instructors_assigned_to_Class</name>
        <label>Count Number of Instructors assigned to Class</label>
        <locationX>50</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>InstructorCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fInstructorCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Number_of_Instructors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_Counter</name>
        <label>Set Loop Counter</label>
        <locationX>1028</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sCourseCatalog.Number_of_Students__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Vouchers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_Existing_Vouchers</name>
        <label>Set Number of Existing Vouchers</label>
        <locationX>460</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>VoucherCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fVoucherCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Number_of_Existing_Vouchers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Voucher</name>
        <label>Set Voucher</label>
        <locationX>1216</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>sVoucher.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Cloud_Craze_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.Learning_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Learning_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DecrementLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.CC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.CC_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.CC_Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVoucher.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Voucher_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Can_Add_to_Class</name>
        <label>Can Add to Class</label>
        <locationX>319</locationX>
        <locationY>356</locationY>
        <defaultConnector>
            <targetReference>Do_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>canAdd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sILTClass.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LTP/AP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sILTClass.Class_Closed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vouchers</targetReference>
            </connector>
            <label>canAdd</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loop_for_Vouchers</name>
        <label>Loop-for-Vouchers</label>
        <locationX>1019</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Create_Voucher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MainLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Voucher</targetReference>
            </connector>
            <label>MainLoop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Vouchers</name>
        <label>Need Vouchers</label>
        <locationX>1015</locationX>
        <locationY>63</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Vouchers_less_than_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VoucherCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MinimumVouchers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Loop_Counter</targetReference>
            </connector>
            <label>Current Vouchers less than Required</label>
        </rules>
    </decisions>
    <formulas>
        <name>DecrementLoop</name>
        <dataType>Number</dataType>
        <expression>{!LoopCounter} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fAvailableSeats</name>
        <dataType>Number</dataType>
        <expression>{!sILTClass.Available_Seats__c} + {!sCourseCatalog.Number_of_Students__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fInstructorCount</name>
        <dataType>Number</dataType>
        <expression>{!InstructorCount}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fMaxSeats</name>
        <dataType>Number</dataType>
        <expression>{!sILTClass.redwing__Max_Seats__c} +{!sCourseCatalog.Number_of_Students__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fVoucherCount</name>
        <dataType>Number</dataType>
        <expression>{!VoucherCount}+ 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MinimumVouchers</name>
        <dataType>Number</dataType>
        <expression>{!InstructorCount} * {!sCourseCatalog.Number_of_Students__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SetLoop</name>
        <dataType>Number</dataType>
        <expression>{!sTrainingEvent.Max_Course_Catalog_Students__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Manage Vouchers on Instructor Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Vouchers on Instructor Change</label>
    <loops>
        <name>Count_Number_of_Existing_Vouchers</name>
        <label>Count Number of Existing Vouchers</label>
        <locationX>323</locationX>
        <locationY>74</locationY>
        <assignNextValueToReference>sVoucherCount</assignNextValueToReference>
        <collectionReference>Get_Vouchers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Number_of_Existing_Vouchers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Order_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Count_Number_of_Instructors</name>
        <label>Count Number of Instructors</label>
        <locationX>145</locationX>
        <locationY>317</locationY>
        <assignNextValueToReference>sILTInstructor</assignNextValueToReference>
        <collectionReference>colILTInstructors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Number_of_Instructors_assigned_to_Class</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ILT_Class_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Voucher</name>
        <label>Create Voucher</label>
        <locationX>861</locationX>
        <locationY>345</locationY>
        <connector>
            <targetReference>Update_ILT_Class</targetReference>
        </connector>
        <inputReference>collVoucher</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Course_Ratio</name>
        <label>Get Course Ratio</label>
        <locationX>851</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Need_Vouchers</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sJob.Course_Catalog__r.Id</elementReference>
            </value>
        </filters>
        <object>Course_Catalog__c</object>
        <outputReference>sCourseCatalog</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_Students__c</queriedFields>
        <queriedFields>Number_of_Instructors__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ILT_Class_ID</name>
        <label>Get ILT Class ID</label>
        <locationX>151</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Can_Add_to_Class</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmILTClass</elementReference>
            </value>
        </filters>
        <object>redwing__ILT_Class__c</object>
        <outputReference>sILTClass</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Available_Seats__c</queriedFields>
        <queriedFields>Cloud_Craze_Product__c</queriedFields>
        <queriedFields>Learning_Plan__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>redwing__Max_Seats__c</queriedFields>
        <queriedFields>Request_Type__c</queriedFields>
        <queriedFields>Offering_Id__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CC_Order_Number__c</queriedFields>
        <queriedFields>Class_Closed_Date__c</queriedFields>
        <queriedFields>Skedulo_Job_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Instructor</name>
        <label>Get Instructor</label>
        <locationX>150</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Number_of_Instructors</targetReference>
        </connector>
        <filters>
            <field>redwing__ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmILTClass</elementReference>
            </value>
        </filters>
        <object>redwing__ILT_Instructor__c</object>
        <outputReference>colILTInstructors</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>redwing__ILT_Class__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>703</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Course_Ratio</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sILTClass.Skedulo_Job_Id__c</elementReference>
            </value>
        </filters>
        <object>sked__Job__c</object>
        <outputReference>sJob</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Course_Catalog__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item</name>
        <label>Get Order Item</label>
        <locationX>538</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
        <filters>
            <field>ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sILTClass.CC_Order_Number__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vouchers</name>
        <label>Get Vouchers</label>
        <locationX>324</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Number_of_Existing_Vouchers</targetReference>
        </connector>
        <filters>
            <field>ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmILTClass</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Blocked</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Voucher__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update available seats and max seats after adding vouchers</description>
        <name>Update_ILT_Class</name>
        <label>Update ILT Class</label>
        <locationX>860</locationX>
        <locationY>516</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Seats__c</field>
            <value>
                <elementReference>fAvailableSeats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>redwing__Max_Seats__c</field>
            <value>
                <elementReference>fMaxSeats</elementReference>
            </value>
        </inputAssignments>
        <object>redwing__ILT_Class__c</object>
    </recordUpdates>
    <start>
        <locationX>150</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Instructor</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colILTInstructors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__ILT_Instructor__c</objectType>
    </variables>
    <variables>
        <name>collVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>frmILTClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InstructorCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sCourseCatalog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Catalog__c</objectType>
    </variables>
    <variables>
        <name>sILTClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>redwing__ILT_Class__c</objectType>
    </variables>
    <variables>
        <name>sILTInstructor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__ILT_Instructor__c</objectType>
    </variables>
    <variables>
        <name>sJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sked__Job__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>sVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>sVoucherCount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>VoucherCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
