force-app/main/default/flows/Manage_B2C_Fulfillment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Stop</name>
        <label>Stop</label>
        <locationX>441</locationX>
        <locationY>423</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Add_to_Output</name>
        <label>Add to Output</label>
        <locationX>1276</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>colFulfillmentItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sFulfillmentItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fulfillment_Items</name>
        <label>Assign Fulfillment Items</label>
        <locationX>1269</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItems.ccrz__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoiced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItems.ILT_Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItems.ccrz__Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItems.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItems.ccrz__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Supplemental_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItems.Supplemental_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillmentItem.Fulfillment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOrderFulfillmentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Missing_Order</name>
        <label>Missing Order</label>
        <locationX>675</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>sInterfaceError.Error_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Not Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInterfaceError.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInterfaceError.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B2C_Fulfillment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInterfaceError.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Missing_Order_Item</name>
        <label>Missing Order Item</label>
        <locationX>869</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>sInterfaceError.Error_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Items Not Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInterfaceError.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInterfaceError.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B2C_Fulfillment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInterfaceError.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Missing_Transaction_Payment</name>
        <label>Missing Transaction Payment</label>
        <locationX>200</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>sInterfaceError.Error_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTransactionPaymentErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInterfaceError.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInterfaceError.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B2C_Fulfillment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInterfaceError.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Error_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Order_Items_Not_Found</name>
        <label>Order Items Not Found</label>
        <locationX>861</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>Create_Order_Fulfillment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colOrderItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Order_Item</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Records_Not_Found</name>
        <label>Order Records Not Found</label>
        <locationX>656</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Order</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Fulfillment</name>
        <label>Previous Fulfillment</label>
        <locationX>433</locationX>
        <locationY>185</locationY>
        <defaultConnector>
            <targetReference>Get_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chkFulfillment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop</targetReference>
            </connector>
            <label>Found Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Payments_Not_Found</name>
        <label>Transaction Payments Not Found</label>
        <locationX>181</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Check_if_Previous_Fulfillment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTransactionPayment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Transaction_Payment</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <description>Creates B2C Fulfillment Records from Transaction ID if missing for B2C</description>
    <formulas>
        <name>vTransactionPaymentErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!frmOrderFulfillmentID} &amp; &quot;Payment Transaction Not Found&quot;</expression>
    </formulas>
    <interviewLabel>Manage B2C Fulfillment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage B2C Fulfillment</label>
    <loops>
        <name>Loop_Order_Items</name>
        <label>Loop Order Items</label>
        <locationX>1077</locationX>
        <locationY>299</locationY>
        <assignNextValueToReference>sOrderItems</assignNextValueToReference>
        <collectionReference>colOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Fulfillment_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Fulfillment_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_to_Error_Log</name>
        <label>Add to Error Log</label>
        <locationX>835</locationX>
        <locationY>585</locationY>
        <inputReference>sInterfaceError</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Fulfillment_Items</name>
        <label>Create Fulfillment Items</label>
        <locationX>1079</locationX>
        <locationY>498</locationY>
        <inputReference>colFulfillmentItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Fulfillment</name>
        <label>Create Order Fulfillment</label>
        <locationX>1077</locationX>
        <locationY>74</locationY>
        <assignRecordIdToReference>frmOrderFulfillmentID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Order_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>CC_Transaction_Payment__c</field>
            <value>
                <elementReference>sTransactionPayment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fulfillment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>sOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplemental_Information__c</field>
            <value>
                <elementReference>sOrder.Supplemental_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>vFulfillmentType</elementReference>
            </value>
        </inputAssignments>
        <object>Fulfillment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_if_Previous_Fulfillment</name>
        <label>Check if Previous Fulfillment</label>
        <locationX>319</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Fulfillment</targetReference>
        </connector>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTransactionPayment.ccrz__CCOrder__c</elementReference>
            </value>
        </filters>
        <object>Fulfillment__c</object>
        <outputReference>chkFulfillment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>559</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Records_Not_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTransactionPayment.ccrz__CCOrder__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>sOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>767</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Items_Not_Found</targetReference>
        </connector>
        <filters>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTransactionPayment.ccrz__CCOrder__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>colOrderItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>Supplemental_Information__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Payment</name>
        <label>Get Transaction Payment</label>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transaction_Payments_Not_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmTransactionID</elementReference>
            </value>
        </filters>
        <object>ccrz__E_TransactionPayment__c</object>
        <outputReference>sTransactionPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>B2B_Transaction_Reference__c</queriedFields>
        <queriedFields>ccrz__Amount__c</queriedFields>
        <queriedFields>ccrz__CCOrder__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Transaction_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>chkFulfillment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment__c</objectType>
    </variables>
    <variables>
        <name>colFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>colOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>frmOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>frmOrderFulfillmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>frmTransactionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>sInterfaceError</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Integration_Error_Log__c</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
    <variables>
        <name>vFulfillmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Receipt</stringValue>
        </value>
    </variables>
</Flow>
