force-app/main/default/flows/Migrate_Opportunity_and_Training_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Used to migrate opportunity and training events</description>
    <interviewLabel>Migrate Opportunity and Training Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Migrate Opportunity and Training Events</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record_Type</name>
        <label>Get Opportunity Record Type</label>
        <locationX>184</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oppty</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vOpportunityRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Oppty</name>
        <label>Get Oppty</label>
        <locationX>309</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOppty</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>sOppty.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppty.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sOppty.Training_Events_Created__c</assignToReference>
            <field>Training_Events_Created__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>464</locationX>
        <locationY>48</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmOppty</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vOpportunityRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Events_Created__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>frmOppty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Training Event Record Type</description>
        <name>vOpportunityRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
