force-app/main/default/flows/Set_Transaction_Payment_Email_To.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DoNothingCommerceCloud_Order</name>
        <label>DoNothingCommerceCloud Order</label>
        <locationX>851</locationX>
        <locationY>550</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Assign_Bill_To_Contact_Only</name>
        <label>Assign Bill To Contact Only</label>
        <locationX>688</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>sTransactionPayment.Email_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sAccount.Billing_Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Transaction_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountContacts_0</name>
        <label>Set AccountContacts</label>
        <locationX>532</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>vContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sContact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrder.ccrz__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOwnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sUser.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Payment_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set to contact email if order is created by a Case</description>
        <name>Set_Case_Contact</name>
        <label>Set Case Contact</label>
        <locationX>329</locationX>
        <locationY>701</locationY>
        <assignmentItems>
            <assignToReference>sTransactionPayment.Email_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vContactEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Transaction_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_GeneralStoreBypassflag</name>
        <label>Set GeneralStoreBypassflag</label>
        <locationX>794</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>vBypassFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Owner_user</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If Storefront is CRE/RBC or CPS then the order owner is the one who should get the email - complication is if the CRE/RBC is setup by an Agent</description>
        <name>Set_Order_Owner</name>
        <label>Set Order Owner</label>
        <locationX>531</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>sTransactionPayment.Email_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOwnerEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Transaction_Payment</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Used to stop send copy of email to billing contact</description>
        <name>Bypass</name>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </constants>
    <constants>
        <name>InstructorProfileName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SB PHSS-Instructor-Community Plus Login</stringValue>
        </value>
    </constants>
    <constants>
        <name>PartnerProfileName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SB PHSS-Partner-Community Plus Login</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Entered_by_Agent</name>
        <label>Entered by Agent</label>
        <locationX>519</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Set_AccountContacts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAgentProfileOrderOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sUser.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>InstructorProfileName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sUser.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PartnerProfileName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vBypassFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item</targetReference>
            </connector>
            <label>isAgentProfileOrderOwner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Check</name>
        <label>Opportunity Check</label>
        <locationX>882</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Opportunity Not Found</label>
        </rules>
        <rules>
            <name>Found_Opportunity_No_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GeneralStoreBypassflag</targetReference>
            </connector>
            <label>Found Opportunity No Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Payment_to</name>
        <label>Send Payment to</label>
        <locationX>523</locationX>
        <locationY>556</locationY>
        <defaultConnector>
            <targetReference>DoNothingCommerceCloud_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isRestrictEmailDistribution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sAccount.Restrict_Order_Confirmation_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bill_To_Contact_Only</targetReference>
            </connector>
            <label>isRestrictEmailDistribution</label>
        </rules>
        <rules>
            <name>CRE_RBC_CPS_Stores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder.ccrz__Storefront__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GeneralStore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sAccount.Restrict_Order_Confirmation_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Owner</targetReference>
            </connector>
            <label>CRE_RBC_CPS_Stores</label>
        </rules>
        <rules>
            <name>isGeneralStorePayment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder.ccrz__Storefront__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GeneralStore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sAccount.Restrict_Order_Confirmation_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Contact</targetReference>
            </connector>
            <label>isGeneralStorePayment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Opportunity</name>
        <label>Check Storefront</label>
        <locationX>600</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>Get_Owner_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isGeneralStore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOrder.ccrz__Storefront__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GeneralStore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>isGeneralStore</label>
        </rules>
    </decisions>
    <description>Set Email to for Transaction
Updated to include new Bypass switch for billing contacts</description>
    <interviewLabel>Set Transaction Payment Email To {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Transaction Payment Email To</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>461</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTransactionPayment.ccrz__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Billing_Contact__c</queriedFields>
        <queriedFields>Restrict_Order_Confirmation_Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Contact</name>
        <label>Get Case Contact</label>
        <locationX>997</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOpportunity.Case__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>997</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_AccountContacts_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCase.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ILT_Instructor</name>
        <label>Get ILT Instructor</label>
        <locationX>218</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Info</targetReference>
        </connector>
        <filters>
            <field>redwing__ILT_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrderItem.ILT_Class__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>redwing__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>redwing__ILT_Instructor__c</object>
        <outputReference>sILTIntructor</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>redwing__Instructor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>746</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.Opportunity_Order__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>310</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTransactionPayment.ccrz__CCOrder__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>sOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>ccrz__Contact__c</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ccrz__Storefront__c</queriedFields>
        <queriedFields>Opportunity_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item</name>
        <label>Get Order Item</label>
        <locationX>355</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ILT_Instructor</targetReference>
        </connector>
        <filters>
            <field>ILT_Class__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTransactionPayment.ccrz__CCOrder__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
        <queriedFields>Related_Contact_1__c</queriedFields>
        <queriedFields>Related_Contact_2__c</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_user</name>
        <label>Get Owner user</label>
        <locationX>677</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entered_by_Agent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOrder.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>sUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Payment</name>
        <label>Get Transaction Payment</label>
        <locationX>170</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmTransactionPayment</elementReference>
            </value>
        </filters>
        <object>ccrz__E_TransactionPayment__c</object>
        <outputReference>sTransactionPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email_To__c</queriedFields>
        <queriedFields>ccrz__CCOrder__c</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>317</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_AccountContacts_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sILTIntructor.redwing__Instructor__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>sUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Transaction_Payment</name>
        <label>Update Transaction Payment</label>
        <locationX>531</locationX>
        <locationY>931</locationY>
        <inputReference>sTransactionPayment</inputReference>
    </recordUpdates>
    <start>
        <locationX>58</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Get_Transaction_Payment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>frmTransactionPayment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sILTIntructor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>redwing__ILT_Instructor__c</objectType>
    </variables>
    <variables>
        <name>sOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
    <variables>
        <name>sUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBypassFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>vOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>vUserLookUp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
