force-app/main/default/flows/Training_Event_Migration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Job_Collection_for_Output</name>
        <label>Add to Job Collection for Output</label>
        <locationX>797</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>outJob</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sJob</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Job_Variables</name>
        <label>Set Job Variables</label>
        <locationX>657</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>sJob.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmTrainingEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Job_Collection_for_Output</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Job_Existance</name>
        <label>Check Job Existance</label>
        <locationX>524</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Step_2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colJob</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_2</targetReference>
            </connector>
            <label>isFound</label>
        </rules>
    </decisions>
    <description>Changed to allow for multiple job migration</description>
    <interviewLabel>Training Event Migration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Event Migration</label>
    <loops>
        <name>Loop_through_Jobs</name>
        <label>Loop through Jobs</label>
        <locationX>663</locationX>
        <locationY>385</locationY>
        <assignNextValueToReference>sJob</assignNextValueToReference>
        <collectionReference>colJob</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Job_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Job</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>531</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Job_Existance</targetReference>
        </connector>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalTE.recordId</elementReference>
            </value>
        </filters>
        <object>sked__Job__c</object>
        <outputReference>colJob</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Training_Event__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Training_Event</name>
        <label>Get Original Training Event</label>
        <locationX>414</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalTE.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Training_Events__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Course_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SCC_Code__c</queriedFields>
        <queriedFields>Returned_to_Sales__c</queriedFields>
        <queriedFields>TE_Owner__c</queriedFields>
        <queriedFields>Times_Rescheduled__c</queriedFields>
        <queriedFields>Pre_Approval__c</queriedFields>
        <queriedFields>Send_Class_Certs_to_POC__c</queriedFields>
        <queriedFields>BL_Info_Sent_to_Customer__c</queriedFields>
        <queriedFields>Service_Delivery_Territory__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Event</name>
        <label>Get Training Event</label>
        <locationX>168</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Migrate_Training_Event</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmTrainingEvent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Training_Events__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Course_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SCC_Code__c</queriedFields>
        <queriedFields>Returned_to_Sales__c</queriedFields>
        <queriedFields>TE_Owner__c</queriedFields>
        <queriedFields>Pre_Approval__c</queriedFields>
        <queriedFields>Times_Rescheduled__c</queriedFields>
        <queriedFields>Send_Class_Certs_to_POC__c</queriedFields>
        <queriedFields>BL_Info_Sent_to_Customer__c</queriedFields>
        <queriedFields>Service_Delivery_Territory__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job</name>
        <label>Update Job</label>
        <locationX>851</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Update_Training_Event</targetReference>
        </connector>
        <inputReference>outJob</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Training_Event</name>
        <label>Update Original Training Event</label>
        <locationX>1012</locationX>
        <locationY>189</locationY>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Original_Training_Event.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scheduling_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Scheduling_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Scheduling_Status__c</field>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Void_Reason__c</field>
            <value>
                <stringValue>Created in Error</stringValue>
            </value>
        </inputAssignments>
        <object>Training_Events__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Training_Event</name>
        <label>Update Training Event</label>
        <locationX>852</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>Update_Original_Training_Event</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training_Event.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BL_Info_Sent_to_Customer__c</field>
            <value>
                <elementReference>Get_Original_Training_Event.BL_Info_Sent_to_Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Approval__c</field>
            <value>
                <elementReference>Get_Original_Training_Event.Pre_Approval__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Returned_to_Sales__c</field>
            <value>
                <elementReference>Get_Original_Training_Event.Returned_to_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCC_Code__c</field>
            <value>
                <elementReference>Get_Original_Training_Event.SCC_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Class_Certs_to_POC__c</field>
            <value>
                <elementReference>Get_Original_Training_Event.Send_Class_Certs_to_POC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Delivery_Territory__c</field>
            <value>
                <elementReference>Get_Original_Training_Event.Service_Delivery_Territory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TE_Owner__c</field>
            <value>
                <elementReference>Get_Original_Training_Event.TE_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Times_Rescheduled__c</field>
            <value>
                <elementReference>Get_Original_Training_Event.Times_Rescheduled__c</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Events__c</object>
    </recordUpdates>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>1176</locationX>
        <locationY>190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Training Event has been successfully migrated&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Migrate_Training_Event</name>
        <label>Migrate Training Event</label>
        <locationX>297</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Original_Training_Event</targetReference>
        </connector>
        <fields>
            <name>InfoMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This will transfer critical information from a the Original Training Event to the new Springboard Training Event functionality. If a Job is associated with the Original Training Event it will be transferred to the new Training Event and the original Training Event will be voided.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OriginalTE</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Original Training Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Training_Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>sked__Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>vOriginalTE</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_2</name>
        <label>Step 2</label>
        <locationX>535</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Jobs</targetReference>
        </connector>
        <fields>
            <name>Migration_Verification</name>
            <fieldText>&lt;p&gt;You are about to migrate&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Original Training Event:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Original_Training_Event.Name}&lt;/p&gt;&lt;p&gt;{!Get_Original_Training_Event.Account__r.Name}&lt;/p&gt;&lt;p&gt;{!Get_Original_Training_Event.Course_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;New Training Event&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Training_Event.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Training_Event.Account__r.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Training_Event.Course_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Job  Exists&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_2_0</name>
        <label>Step 2</label>
        <locationX>685</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Training_Event</targetReference>
        </connector>
        <fields>
            <name>Migration_Verification_0</name>
            <fieldText>&lt;p&gt;You are about to migrate&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Original Training Event:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Original_Training_Event.Name}&lt;/p&gt;&lt;p&gt;{!Get_Original_Training_Event.Account__r.Name}&lt;/p&gt;&lt;p&gt;{!Get_Original_Training_Event.Course_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;New Training Event&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Training_Event.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Training_Event.Account__r.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Training_Event.Course_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Job does not exist&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Training_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colJob</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sked__Job__c</objectType>
    </variables>
    <variables>
        <name>frmTrainingEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outJob</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sked__Job__c</objectType>
    </variables>
    <variables>
        <name>sJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sked__Job__c</objectType>
    </variables>
    <variables>
        <name>vOriginalTE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
