force-app/main/default/flows/Update_B2C_Vouchers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>415</locationX>
        <locationY>208</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Add_to_Output</name>
        <label>Add to Output</label>
        <locationX>324</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>outVoucher</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVoucher</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Voucher_Order_ID</name>
        <label>Set Voucher Order ID</label>
        <locationX>188</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>sVoucher.CC_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Output</name>
        <label>Check for Output</label>
        <locationX>401</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Update_Vouchers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outVoucher</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Nothing</targetReference>
            </connector>
            <label>isEmpty</label>
        </rules>
    </decisions>
    <description>Set B2C Vouchers to CC Order ID</description>
    <interviewLabel>Update B2C Vouchers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update B2C Vouchers</label>
    <loops>
        <name>Loop_to_Set</name>
        <label>Loop to Set</label>
        <locationX>190</locationX>
        <locationY>174</locationY>
        <assignNextValueToReference>sVoucher</assignNextValueToReference>
        <collectionReference>Get_B2C_Voucher</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Voucher_Order_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_B2C_Voucher</name>
        <label>Get B2C Online Voucher</label>
        <locationX>186</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_Set</targetReference>
        </connector>
        <filters>
            <field>Online_Class__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RCO_Order_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmB2COrder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Voucher__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vouchers</name>
        <label>Update Vouchers</label>
        <locationX>624</locationX>
        <locationY>86</locationY>
        <inputReference>outVoucher</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_B2C_Voucher</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>frmB2COrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>frmOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
    <variables>
        <name>sVoucher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher__c</objectType>
    </variables>
</Flow>
